*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contenedor_global{
    height: 220vh;
    background-color:#FFFFFF;

}
header{
    /*background-color: #0C3641;*/
    background: linear-gradient(200deg, rgb(12, 54, 65) 55%, rgb(12, 54, 65) 69%, rgb(124, 206, 233) 69%);
    height: 6%;
    display: flex;
    flex-direction: row;
}
.dropdown-menu{
    background-color: #0c3641;
}
nav{
    display: flex;
}

.buttons{
    color: #ffffff;
    font-size: 1rem;
    border-left: 1px solid  white;
}.button-menu{
     color: white;
     font-size: 1rem;
     border: 1px solid  white;
 }
.logos_conve{
    display: flex;
}
.telefono{
    font-size:1.3rem ;
    background-color:#7CCEE9;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 4rem;
    height: 2.5rem;
}
main{
    background-color: #ffffff;
    height: 20.3%;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom:2rem;
    display: flex;
}
.img_carrousel_senderos{
    /*background: linear-gradient(137deg, rgb(252, 248, 235) 55%, rgb(252, 248, 235) 69%, rgb(124, 206, 233) 69%);*/
     background:-moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(188,224,238,1) 5%, rgba(188,224,238,1) 11%, rgba(188,224,238,1) 16%, rgba(188,224,238,1) 17%, rgba(45,185,229,1) 52%, rgba(41,184,229,1) 53%, rgba(188,224,238,1) 86%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 93%, rgba(188,224,238,1) 96%, rgba(188,224,238,1) 100%);
    height: 100%;
}
.carousel-inner img {
        height: 300px;
}
article{
    background-color: #FCF8EB;
    height: 29%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom:2rem;
    border-radius: 2rem;
    display: flex;
}
.bienvenido{
    height: 100%;
}

.contactenos{
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    height: 100%;
    border-radius: 2rem;
}
.form-control{
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px ;
}
.icon-footer{
    font-size: 2rem;
    color: white;
}
.form-check-label{
    color: gray;
}
.title_contacto{
    color: white;
}

.title{
    color: #7CCEE9;
    font-weight: bold;
}
.icon{
    font-size: 3rem;
    color: #7CCEE9;
}
section{
    background-color: #0069d9;
    height: 13%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom:0.8rem;
}
.title_formp_conve{
    color: #7CCEE9;
    font-weight: bold;
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #0069d9;
}
aside{
    background-color: #1e7e34;
    height: 13%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom:1.5rem;
}
.logos_forpago{
    display: flex;
}
footer{
    /*background-color: #0C3641;*/
    background: linear-gradient(130deg, rgb(12, 54, 65) 55%, rgb(12, 54, 65) 69%, rgb(124, 206, 233) 69%);
    height: 15%;
}
.informacion{
    display: flex;
    flex-direction: row;
}
.texto_footer{
    color: white;
    font-size: 18px;
    display: flex;
flex-direction: column;
}